<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>宝物-轻石头.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{159,141}</string>
                <key>spriteSourceSize</key>
                <string>{159,143}</string>
                <key>textureRect</key>
                <string>{{1,393},{159,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>宝物-重石头.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,126}</string>
                <key>spriteSourceSize</key>
                <string>{159,132}</string>
                <key>textureRect</key>
                <string>{{162,393},{157,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>开始页-金块.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{427,390}</string>
                <key>spriteSourceSize</key>
                <string>{427,390}</string>
                <key>textureRect</key>
                <string>{{1,1},{427,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gold.png</string>
            <key>size</key>
            <string>{429,535}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0688083a43f9f49ea86a99a59cf0b6f:86b7dbe4b22a8f266f57adb8fea107ef:fbdcb1b3882a9f5e3ec79d5f29d75a2e$</string>
            <key>textureFileName</key>
            <string>gold.png</string>
        </dict>
    </dict>
</plist>
